*{
    padding: 0;
    margin: 0;
}

body{
    background-color: hsl(330, 100%, 98%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.main-container{
    background-color: white;
    border: 2px solid red;
    width: 40%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 0px 30px;
}

.image{
    border-radius: 10px;
    height: 200px;
}
.wrap{
    display: flex;
    flex-direction: column;
}


.Ingredients {
    border-top: 2px solid green ;
}